:root {
	--color1: #13B8B4;
	--color2: #E05757;
	--color3: #FCD688;
	--color4: #EF9F72;
	--color5: #BDD9AF;
	--stroke1: #0B8388;
	--stroke2: #AA090B;
	--stroke3: #C1A200;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Great Vibes', cursive;
}

body {
	background-image: url(img/1.webp);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

}

header {
	background-color: var(--color1);
	color: white;
	font-size: 40px;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.content {
	background-color: rgba(255, 255, 255, 0.8);
	margin: 50px;
	height: 80vh;
	width: 90vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Unfinished */

.unfinished-list {
	background-image: url(img/2.jpg);
	background-size: contain;
	width: 500px;
	height: 500px;
	color: white;
}

.unfinished-title {
	font-size: 40px;
}

/* Middle */
.middle h2{
	font-size: 40px;
}

.middle p {
	font-size: 30px;
	padding-top: 10px;
	cursor: pointer;
}

.middle p:hover {
	color: var(--color2);
}

/* Finished */

.finished-list {
	background-image: url(img/3.jpg);
	background-size: contain;
	width: 500px;
	height: 500px;
	color: white;
}

.finished-title {
	font-size: 40px;
}

.book-list {
	height: 100%;
	width: 310px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	overflow-x: none;
	overflow-y: auto;
}

.book {
	width: 270px;
	height: 50px;
	border-top-left-radius: 20px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.book-1 {
	background-color: var(--color1);
	border-top: 2px solid var(--stroke1);
	border-bottom: 2px solid var(--stroke1);
	border-left: 2px solid var(--stroke1);
}
.book-2 {
	background-color: var(--color2);
	border-top: 2px solid var(--stroke2);
	border-bottom: 2px solid var(--stroke2);
	border-left: 2px solid var(--stroke2);
}
.book-3 {
	background-color: var(--color3);
	border-top: 2px solid var(--stroke3);
	border-bottom: 2px solid var(--stroke3);
	border-left: 2px solid var(--stroke3);
	color: black;
}

.book-title {
	font-size: 20px;
}